.contact {

	&:after {
		z-index: -1;

		@include below (sm) {
			display: none;
		}
	}

	&__info {
		align-self: center;
		position: relative;
		font-weight: 600;
		padding: 1rem;

		@include below (sm) {
			width: 100%;
			margin-top: 2rem;
		}

		a {
			color: $white;
		}

		p:last-child() {
			margin-bottom: 0;
		}
		

		@include above (sm) {
			padding-left: 3rem;
			padding-right: 3rem;
			padding-top: 6rem;

			&:after, &:before {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 12rem;
				border-radius: 50%;
			}

			&:before {
				background: $white;
				top: -6rem;
				z-index: 1;
				width: 103%;
				left: -1.5%;
			}

			&:after {
				background: $green;
				bottom: -6rem;
				z-index: -1;
			}
		}
	}

	&__title {
		@include below (sm) {
			margin-top: 0;
		}
	}
}