

.footer {

	&__item {
		color: $white;

		//loop through colors
		$colors: $green, $orange, $yellow, $brown, $pink;
		@for $i from 1 through length($colors) {
		   li:nth-child(#{length($colors)}n+#{$i}) {
		    	&:hover {
		        	color: nth($colors, $i)
		    	}
		    }
		}

		li {
			transition: all ease .3s;
		}

		a {
			color: $white;
		}


		&:first-child {
			margin-left: 0;
		}

		&:not(:first-child) {

			@include above (sm) {
				margin-left: 12.499965%;
			}
		}
		
		&:not(:last-child) {
			@include above (sm) {
				border-right: $white 1px solid;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style-type: disc;
			list-style-position: inside;
		} 
	}

	&__title {

		@include above (sm) {
			margin-top: 0;
		}
	}
}
