.header {
	padding-top: 1rem;
	padding-bottom: 1rem;	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	&__logo {
		display: block;
		background-image: url(../img/logo.svg);
		width: 200px;
		height: 119px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		@include above (md) {
			width: 252px;
			height: 150px;
		}
	}
}