/********************LAYOUTS********************/

/* Base Styles */
.none--bg {
  color: $black;
}

.green--bg {
  a {
    color: $white;
  }
}

.pink--bg {
  color: $black;

  .wysiwygs__title {
    color: $white;
  }
}

.arc {
  position: relative;
  overflow: hidden;

  &--brown {
    @include pseudo-arc(
      $color: $brown
    );
  }

  &--yellow {
    @include pseudo-arc(
      $color: $yellow
    );
  }

  &--orange {
    @include pseudo-arc(
      $color: $orange
    );
  }

  &--pink {
    @include pseudo-arc(
      $color: $pink
    );
  }

  &--green {
    @include pseudo-arc(
      $color: $green
    );
  }

  &--black {
    @include pseudo-arc(
      $color: $black
    );
  }

  &--white {
    @include pseudo-arc(
      $color: $white
    );
  }
}


/* WYSIWYGs */
.wysiwygs {

  &__title {
    margin-top: 0;
  }

  &__col {
    position: relative;
    z-index: 10;
    font-weight: 600;

    .fab {
      color: #3b579d;
    }

    @include above (sm) {

      font-size: 22px;

     &.first {
        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {

  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {

    }
  }
}

.padding {

  &--top {
    padding-top: 3rem; 
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}