.page {

	&__hero {
		background: no-repeat top center;
		background-size: cover;
		padding: 12rem 1rem;

		@include above (sm) {
			padding: 12rem 1rem;
			overflow: visible !important;
			background-attachment: fixed;
		}

		&--frontpage {
			padding-bottom: 0;
		}
	}

	&__container {
		position: relative;
	}

	&__desc {
		@include above (sm) {
			display: flex;
		}
	}

	&__title {
		@include text-stroke(
			$stroke-width: 2px
		);
		margin: 0;
		position: relative;
		z-index: 1;

		@include above (sm) {
			@include text-stroke(
				$stroke-width: 5px
			);
		}
	}

	&__badge {
		background: $black;
		border-radius: 50%;
		display: inline-block;
		padding: 2.5rem 2rem;
		position: relative;
    	top: -2rem;
		text-align: center;
		align-self: baseline;
		font-weight: 600;
		font-size: 16px;

		@include above (sm) {
			font-size: 18px;
			top: 4.5rem;
			left: -10rem;
		}

		@include above (md) {
			font-size: 24px;	
		}
	}

	&__flex {
		align-items: flex-end;
		margin-top: -10rem;
		top: 10rem;
		position: relative;
		z-index: 10;

		@include below (sm) {
			display: none!important;
		}
	}

	&__figure {
		position: absolute;
		right: 5rem;
		z-index: 10;

		@include below (lg) {
			display: none;
		}

		&--frontpage {
			right: 0;
			top: 10rem;

			@include above (sm) {
				position: absolute;
			}
		}
	}
}
