.variants {
	
	&__item {
		position: relative;
		z-index: 10;

		p {
			font-weight: 600;
		}
	}

	&__title {
		@include text-stroke(
			$stroke-width: 2px
		);

		@include above (sm) {

			@include text-stroke(
				$stroke-width: 3px
			);
		}
	}

	&__fb {
		margin-left: 1rem;
	}
}