.btn {
	display: inline-block;
	padding: .5rem 2.5rem;
	border-radius: 50%;
	font-family: $custom-font-headings;
	font-size: 30px;

	@include above (sm) {
		font-size: 40px!important;
	}

	&--large {
		padding: 1rem 2.5rem;

		@include above (sm) {
			font-size: 44px;
			padding: 2rem 2.5rem;
		}
	}

	&--black {
		background: $black;
		color: $white;
	}
}