/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "black" $black, "brown" $brown, "green" $green, "yellow" $yellow, "orange" $orange, "pink" $pink;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background-color: $value; 
  }
}
