h1, .h1 {
  font-size: 50px;

  @include between (sm, md) {
    font-size: 80px;
  }

  @include above (md) {
    font-size: 90px;
  }

  @include above(lg) {
    font-size: 120px;
    
  }
}

h2, .h2 {
  font-size: 40px;

  @include above(sm) {
    font-size: 40px;
  }

  @include above(md) {
    font-size: 50px;
  }

  @include above(lg) {
    font-size: 70px;
   
  }
}

h3, .h3 {
  font-size: 20px;

  @include above(sm) {
    font-size: 50px;
  }
}

h4, .h4 {
  font-size: 30px;

  @include above(sm) {
    font-size: 45px;
  }
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}


// Change headings font if a heading font is set
@if $font-headings != null {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-headings;
    line-height: 1;
    text-transform: uppercase;
  }
}